.content {
    margin-block: 16px;
    background-color: var(--p-blue-950);
    border-radius: var(--p-content-border-radius);
    border: 1px solid var(--p-content-border-color);
    padding: var(--p-menubar-padding);
}
