@let status = emissionsFacade.status$ | async;
<div class="header-with-actions">
    <h3>Emissions</h3>

    @if (status === 'loaded') {
        <button pButton size="small" severity="secondary" (click)="emissionsFacade.load()">
            <i class="pi pi-refresh" pButtonIcon></i>
            <span pButtonLabel>Reload</span>
        </button>
    }
</div>

<p-divider />

@switch (status) {
    @case ('loaded') {
        @let emissions = emissionsFacade.data$ | async;

        <p-select name="vesselSelector" [formControl]="vesselSelectorControl" [options]="emissions" optionLabel="name" optionValue="emissions" placeholder="Select a vessel" optionDisabled="noEmissionsData" #vesselSelector />

        <div class="divider"></div>
        <navtor-emissions-chart [emissions]="vesselSelector.value" [vessle]="vesselSelector.label()" />

    }
    @case ('idle') {
        <p>Idle? Something's wrong!</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
    @case ('loading') {
        <p>Loading emissions info...</p>
    }
    @case ('error') {
        <p>Error loading emissions info</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
    @default {
        <p>Unknown error</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
}
