@let status = emissionsFacade.status$ | async;
<div class="header-with-actions">
    <h2>Emissions</h2>

    @if (status === 'loaded') {
        <button pButton size="small" severity="secondary" (click)="emissionsFacade.load()">
            <i class="pi pi-refresh" pButtonIcon></i>
            <span pButtonLabel>Reload</span>
        </button>
    }
</div>

@switch (status) {
    @case ('loaded') {
        @let emissions = emissionsFacade.data$ | async;

        <p-select [options]="emissions" optionLabel="name" optionValue="emissions" placeholder="Select a vessel" optionDisabled="noEmissionsData" #vesselSelector />

        {{vesselSelector.value | json}}

        <pre>{{emissions | json}}</pre>
    }
    @case ('idle') {
        <p>Idle? Something's wrong!</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
    @case ('loading') {
        <p>Loading emissions info...</p>
    }
    @case ('error') {
        <p>Error loading emissions info</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
    @default {
        <p>Unknown error</p>
        <p-button label="Load Vessels" size="small" (click)="emissionsFacade.load()"></p-button>
    }
}
