<h2>Vessels</h2>

@switch (vesselsFacade.status$ | async) {
    @case ('loaded') {
        @let v = vesselsFacade.data$ | async;
        <pre>{{v | json}}</pre>
    }
    @case ('idle') {
        <p>Idle? Something's wrong!</p>
        <p-button label="Load Vessels" (click)="vesselsFacade.load()"></p-button>
    }
    @case ('loading') {
        <p>Loading vessel info...</p>
    }
    @case ('error') {
        <p>Error loading vessel info</p>
        <p-button label="Load Vessels" (click)="vesselsFacade.load()"></p-button>
    }
}
